
<!--<div style="margin: auto; max-width: 50%; margin-bottom: 50px;">-->
  <h3>{{type == 'patients'? 'Pacientes' : 'Profesionales'}}</h3>
  <data-table id="persons-grid"
              headerTitle="type"
              [items]="items"
              [itemCount]="itemCount"
              (reload)="reloadItems($event)"
              [pageLimits]="limits"

              (rowClick)="rowClick($event)"
              [rowTooltip]="rowTooltip"
  >
    <data-table-column
      [property]="'firstName'"
      [header]="'Nombre'"
      [sortable]="false"
      [resizable]="true">
    </data-table-column>
    <data-table-column
      [property]="'lastName'"
      [header]="'Apellido'"
      [sortable]="false"
      [resizable]="true">
    </data-table-column>
    <data-table-column
      [property]="'phone'"
      [header]="'Telefono'"
      [width]="80"
      [sortable]="false"
      [resizable]="false">
    </data-table-column>
    <data-table-column
      [property]="'documentType'"
      [header]="'Documento'"
      [sortable]="false">
      <ng-template #dataTableCell let-item="item">
        <span>{{item.documentType.description}} {{item.documentType.id}}</span>
      </ng-template>

    </data-table-column>

    <data-table-column
      [header]="'reference'"
      [sortable]="false"
      [width]="90"
      [resizable]="true">
      <ng-template #dataTableHeader let-item="item">
        <span>Referencia</span>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <button *ngIf="item.companion" class="btn btn-sm btn-default" (click)="viewReference(item.companion);">Ver
        </button>
        <button *ngIf="item.reference" class="btn btn-sm btn-default" (click)="viewReference(item.reference);">Ver
        </button>
      </ng-template>
    </data-table-column>
    <data-table-column
      [property]="'email'"
      [header]="'Correo'"
      [sortable]="false"
      [resizable]="true">
    </data-table-column>

    <data-table-column
      [width]="90"
      header="Actions">
      <ng-template #dataTableHeader let-item="item">
        <i>Acciones</i>
      </ng-template>
      <ng-template #dataTableCell let-item="item">
        <a (click)="update(item);"><fa name="edit"></fa></a>
        <a (click)="delete(item.id);"><fa name="trash" ></fa></a>
      </ng-template>
    </data-table-column>

  </data-table>
  <button class="btn btn-lg btn-outline-primary" (click)="openCreate()">Crear {{type == 'patients'? 'Pacientes' : 'Profesionales'}}</button>


<!--</div>-->

