<div role="document" class="modal-dialog">
  <div class="modal-content">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span class="modal-span" aria-hidden="true">&times;</span>
      <h4>{{confirmationBoxTitle}}</h4>
    </button>
    <div class="modal-body">
      <li *ngFor="let item of confirmationMessage">
        {{ item }}
      </li>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('accept')">Aceptar</button>
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('cancel')">Cancelar</button>
    </div>
  </div>
</div>
